
<div id="sidebar-container" style="width: 280px;">
      <div class="menu posicion">
      <div class="center">
        <h3>ICEBIKER</h3>
      </div>  
      <a href="#" class="nav-link active text-light p-3 centerMenu"  routerLink="/inicio" ><i class = "fa fa-align-justify"></i>Inicio</a><br><br>
      <a href="#" class="nav-link active text-light p-3 centerMenu"  routerLink="/principal"><i class="fa-solid fa-address-book"></i>Mis Productos</a><br>
      <!-- <a href="#" class="nav-link active text-light p-3 centerMenu"  routerLink="/perfil/datos-personales"><i class = "fa fa-address-card"></i>Clientes</a><br> -->
    </div>
</div>
